body{
    background-image: url(fondo.jpg);
}
/*estilo para el titulo */
.titulo{
    display: flex;
    justify-content: center;
    color: cornsilk;
}
.titulo {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 2px 0 #bbb, 0 3px 0 #aaa, 0 3.5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    }
/*estilo para el boton*/
.centrar { 
    display: flex; 
    justify-content: center;  
    align-items: flex-end;  
    height: 100%;  
    position: absolute;  
    bottom: 50px; 
    width: 100%;  
} 

button { 
    background: #0718b5ba; 
    color: #fff; 
    border: none; 
    height: 60px; 
    font-size: 1.6em; 
    padding: 0 2em; 
    cursor: pointer; 
    transition: 800ms ease all; 
    outline: none; 
    position: relative; 
} 

button:hover { 
    background: #fff; 
    color: #1a56ab; 
} 

button:before, 
button:after { 
    content: ''; 
    position: absolute; 
    top: 0; 
    right: 0; 
    height: 2px; 
    width: 0; 
    background: #0d12b3; 
    transition: 400ms ease all; 
} 

button:after { 
    right: inherit; 
    top: inherit; 
    left: 0; 
    bottom: 0; 
} 

button:hover:before, 
button:hover:after { 
    width: 100%; 
    transition: 800ms ease all; 
}


  